.fabric/
.mixin.out/
cache/
logs/
crash-reports/
debug/
screenshots/
saves/
xaero/
XaeroWaypoints*/
local/
dashloader-cache/
dynamic-data-pack-cache/
dynamic-resource-pack-cache/
enhanced_bes_dump/
essential/
moddata/
resourcepacks/
cobblemon/
cobblemon-battle-logs/
cobblenav/
fancymenu_data/
showdown/
*.log
win_event*.txt
servers.dat*
usercache.json
whitelist.json
ops.json
command_history.txt
TrashSlotSaveState.json"mods/" 
data/
downloads/
legendary-monuments-data/
TrashSlotSaveState.json
servers.essential.dat
patchouli_data.json
mods/*.jar